#fadeIn{
    height: 100px;
    width: 100px;
    background-color: red;
    display: none;
    margin-bottom: 10px;
}

#fadeInFast{
    height: 100px;
    width: 100px;
    background-color: blue;
    display: none;
    margin-bottom: 10px;
}

#fadeInSlow{
    height: 100px;
    width: 100px;
    background-color: green;
    display: none;
    margin-bottom: 10px;
}

#fadeInMilliSeconds{
    height: 100px;
    width: 100px;
    background-color: red;
    display: none;
    margin-bottom: 10px;
}

#fadeOut{
    height: 100px;
    width: 100px;
    background-color: red;
    margin-bottom: 10px;
}

#fadeOutFast{
    height: 100px;
    width: 100px;
    background-color: blue;
    margin-bottom: 10px;
}

#fadeOutSlow{
    height: 100px;
    width: 100px;
    background-color: green;
    margin-bottom: 10px;
}

#fadeOutMilliSeconds{
    height: 100px;
    width: 100px;
    background-color: red;
    margin-bottom: 10px;
}
#fadeToggle{
    height: 100px;
    width: 100px;
    background-color: red;
    margin-bottom: 10px;
}

#fadeToggleFast{
    height: 100px;
    width: 100px;
    background-color: blue;
    margin-bottom: 10px;
}

#fadeToggleSlow{
    height: 100px;
    width: 100px;
    background-color: green;
    margin-bottom: 10px;
}

#fadeToggleMilliSeconds{
    height: 100px;
    width: 100px;
    background-color: red;
    margin-bottom: 10px;
}

.fadeTo{
    height: 100px;
    width: 500px;
    background-color: red;
    margin-bottom: 10px;
}

.slide{
    background-color: blue;
    color: white;
    text-align: center;
    border: 1px solid black;
    padding: 10px;
}

.slide_click{
font-size: larger;
font-weight: 700;
cursor: pointer;
}
.slide_panel{
    display: none;
}
.con{
    height: 300px;
    position: relative;
    
}
.animate_element{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
}
.animate_element1{
    height: 100px;
    width: 100px;
    background-color: green;
    margin-top: 30px;
    position: absolute;
}